<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All data</title>
</head>
<body>
<ul>
    {% for object in object_list %}
        <li> <b>Id</b>: {{ object.id }} </li>
        <li> <b>Name</b>: {{ object.name }} </li>
        <li> <b>Total_tax</b>: {{ object.total_tax }} </li>
        <li> <b>Percent</b>: {{ object.percent }} </li>
        <li> <b>Advance payment</b>: {{ object.advance_payment }} </li>
        <li> <b>Created date</b>: {{ object.created_date }} </li>
        <li> <b>Destination</b>: {{ object.destination }} </li>
        <li> <b>Net a payer</b>: {{ object.net_a_payer }} </li>
        <li> <b>Quantity</b>: {{ object.quantity }} </li>
        <li> <b>Quantity after percent</b>: {{ object.quantity_after_percent }} </li>
        <li> <b>Reference</b>: {{ object.reference }} </li>
        <li> <b>Total payment</b>: {{ object.total_payment }} </li>
        <li> <b>Total payment after tax</b>: {{ object.total_payment_after_tax }} </li>
        <li> <b>Updated time</b>: {{ object.updated_date }} </li>
        <hr/> {% empty %}
        <li>No objects yet</li>
    {% endfor %}
</ul>
</body>
</html>