
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'index.css' %}">
<form name='model' method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row">
  <div class="col-md-12">
    <table id="detailTable" class="table-responsive table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th>NUMERO</th>
          <th>DATE</th>
          <th>REFERENCE</th>
        </tr>
        <tbody>
          <td> <input type='text' placeholder='NUMERO' name="numero" /> </td>
          <td> <input type='text' placeholder='DATE' name="name"/> </td>
          <td> <input type='text' placeholder='Reference' name="reference" /> </td>
      </tbody>
    </table>
  </div>
</div>
<pre>




</pre>
    <div class="row">
  <div class="col-md-12">
    <table id="detailTable" class="table-responsive table-bordered table-smm">
      <thead class="thead-light">
          <tr>
          <th>Reference</th>
          <th>Destination</th>
          <th>Quantity</th>
           <th>Percent</th>
              <th>Quantity after percent</th>
      </tr>
      </thead>
      <tbody>
       <td> <input type='text' placeholder='Reference' name="reference"/> </td>
          <td> <input type='text' placeholder='Recharge Experess 1234' name="destination"/> </td>
          <td> <input type='text' placeholder='Cash' name="quantity"/> </td>
      <td> <input type='text' placeholder='2%' name="percent"/> </td>
      <td> <input type='text' placeholder='3%' name="quantity_after_percent"/> </td>

      </tbody>
    </table>
        </div>
</div>
      <pre>


</pre>
      <div class="row">
  <div class="col-md-12">
    <table id="detailTable" class="table-responsive table-bordered table-sm">
      <thead class="thead-light">
          <tr>
          <th>Total H.T</th>
          <th>Total Taxe</th>
          <th>Total T.T.C.</th>
          <th>Acompte</th>
              <th>Net a payer</th>
      </tr>
      </thead>
      <tbody>
       <td> <input type='text' placeholder='Reference' name="reference"/> </td>
          <td> <input type='text' placeholder='Recharge Experess 1234' /> </td>
          <td> <input type='text' placeholder='Cash' /> </td>
          <td> <input type='text' placeholder='' /> </td>
      <td> <input type='text' placeholder='' /> </td>

      </tbody>
    </table>
        </div>
</div>


                    <table >
                    <tr>
                         <label for="name"> <span class="number">1</span> <b>Name:</b></label>
                        <input type="text" id="name" name="name" class='child'>
                    </tr>
                        <label for="name"><span class="number">2</span>Reference:</label>
                        <input type="text" id="reference" name="reference" class='child'>
                    </tr>
                    </tr>
                        <label for="name"><span class="number">3</span>Destination:</label>
                        <input type="text" id="destination" name="destination">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">4</span>Net a payer:</label>
                        <input type="text" id="net_a_payer" name="net_a_payer">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">5</span>Quantity:</label>
                        <input type="text" id="quantity" name="quantity">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">6</span>Percent:</label>
                        <input type="text" id="percent" name="percent">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">7</span>Quantity after percent:</label>
                        <input type="text" id="quantity_after_percent" name="quantity_after_percent">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">8</span>Total payment:</label>
                        <input type="text" id="total_payment" name="total_payment">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">9</span>Total tax:</label>
                        <input type="text" id="total_tax" name="total_tax">
                    </tr>
                    </tr>
                        <label for="name"><span class="number">10</span>Total payment after tax:</label>
                        <input type="text" id="total_payment_after_tax" name="total_payment_after_tax">
                    </tr>
                </table>
        <script>
        function validateAndSend() {
            if (model.quantity.value === '' && model.percent.value === '' && model.quantity_after_percent.value === ''){
                alert('Quantity, Percent, Quantity_after_percent are missing.');
                return false;
            }
            if (model.quantity.value === '' && model.percent.value === '') {
                alert('Quantity and Percent are missing.');
                return false;
            } else if (model.quantity.value === '' && model.quantity_after_percent.value === '') {
                alert('Quantity and Quantity_after_percent are missing.');
                return false;
            } else if (model.percent.value === '' && model.quantity_after_percent.value === '') {
                alert('Percent and Quantity_after_percent are missing.');
                return false;
            }
            else {
                myForm.submit();
            }
        }
    </script>
<input type="submit" value="Submit" class='btn btn-success' onclick="validateAndSend()">
</form>
