{% load crispy_forms_filters %}
<!DOCTYPE html>
<html>
  <head>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Django ModelForms</title>
    </head>
    <body>
      {% load crispy_forms_tags %}
        
        <div class="container">
          <!--Django Model Form-->
          <h2 class="my-4">Add a new item</h2>
            <form method="post" action="valuate">
                {% csrf_token %}
                <table >
                    <tr>
                        <th> Name </th>
                        <td><input type="text" name="name" required/></td>
                    </tr>
                    <tr>
                        <th> Destination </th>
                        <td><input type="text" name="destination"/></td>
                    </tr>
                    <tr>
                        <th> Net A Payer </th>
                        <td><input type="text" name="net_a_payer"/></td>
                    </tr>
                    <tr>
                        <th> Quantity </th>
                        <td><input type="text" name="quantity" required/></td>
                    </tr>
                    <tr>
                        <th> Percent </th>
                        <td><input type="text" name="percent"/></td>
                    </tr>
                    <tr>
                        <th> Quantity after percent </th>
                        <td><input type="text" name="quantity_after_percent"/></td>
                    </tr>
                    <tr>
                        <th> Total payment </th>
                        <td><input type="text" name="total_payment"/></td>
                    </tr>
                    <tr>
                        <th> Total tax </th>
                        <td><input type="text" name="total_tax"/></td>
                    </tr>
                    <tr>
                        <th> Total payment after tax </th>
                        <td><input type="text" name="total_payment_after_tax"/></td>
                    </tr>
                </table>
{#                <button class="btn btn-primary my-4" type="submit">Submit</button>#}
                <input type="submit" value="Submit">
            </form>
        </div>

    

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>