<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th class="header" mat-header-cell *matHeaderCellDef>
      <mat-form-field class="filter">
        <mat-label  mat-sort-header>Input</mat-label>
        <input matInput [formControl]="nameFilter">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="created_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date </th>
    <td mat-cell *matCellDef="let element"> {{element.created_date | date}} </td>
  </ng-container>
  <ng-container matColumnDef="updated_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated date </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <ng-container matColumnDef="reference">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
    <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
  </ng-container>
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity | number}} </td>
  </ng-container>
  <ng-container matColumnDef="percent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Percent </th>
    <td mat-cell *matCellDef="let element"> {{element.percent}} </td>
  </ng-container>
  <ng-container matColumnDef="quantity_after_percent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity after percent </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity_after_percent}} </td>
  </ng-container>
  <ng-container matColumnDef="net_a_payer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> net_a_payer </th>
    <td mat-cell *matCellDef="let element"> {{element.net_a_payer}} </td>
  </ng-container>
  <ng-container matColumnDef="advance_payment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> advance_payment </th>
    <td mat-cell *matCellDef="let element"> {{element.advance_payment}} </td>
  </ng-container>
  <ng-container matColumnDef="total_payment">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> total_payment </th>
    <td mat-cell *matCellDef="let element"> {{element.total_payment}} </td>
  </ng-container>
  <ng-container matColumnDef="total_tax">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> total_tax </th>
    <td mat-cell *matCellDef="let element"> {{element.total_tax}} </td>
  </ng-container>
  <ng-container matColumnDef="total_payment_after_tax">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> total_payment_after_tax </th>
    <td mat-cell *matCellDef="let element"> {{element.total_payment_after_tax}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="8" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>
