<table class="table table-striped">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
  </div>
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Created date</th>
    <th scope="col">Address</th>
    <th scope="col">Reference</th>
    <th scope="col">Quantity</th>
    <th scope="col">Percent</th>
    <th scope="col">Quantity after percent</th>
    <th scope="col">Net a payer</th>
    <th scope="col">Advance payment</th>
    <th scope="col">Total payment</th>
    <th scope="col">Total tax</th>
    <th scope="col">Total payment after tax</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let facture of factures | filter:searchText">
    <th scope="row">{{ facture.id }}</th>
    <td>
      <img
        [src]="'https://upload.wikimedia.org/wikipedia/commons/9/96/Flag_of_Armenia_%28Soviet_colors%29.svg'"
        class="me-2"
        style="width: 20px"
      />
      {{ facture.name }}
    </td>
    <td>{{ facture.created_date | date}}</td>
    <td>{{ facture.address }}</td>
    <td>{{ facture.reference }}</td>
    <td>{{ facture.destination }}</td>
    <td>{{ facture.quantity | number }}</td>
    <td>{{ facture.percent }}</td>
    <td>{{ facture.quantity_after_percent }}</td>
    <td>{{ facture.net_a_payer }}</td>
    <td>{{ facture.advance_payment }}</td>
    <td>{{ facture.total_payment }}</td>
    <td>{{ facture.total_tax }}</td>
    <td>{{ facture.total_payment_after_tax }}</td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    (pageChange)="getListOfAllFacture()"
  >
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getListOfAllFacture()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
