<div style="margin: 15px">
  <div style="display: flex">
    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label> -Sorting- </mat-label>
      <mat-select [formControl]="sortOrderControl">
        <mat-option value="">-select-</mat-option>
        <mat-option value="id-by-desc">Id By Desc</mat-option>
        <mat-option value="id-by-asc">Id By Asc</mat-option>
        <mat-option value="name-by-desc">Name By Desc</mat-option>
        <mat-option value="name-by-asc">Name By Asc</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Search By Name</mat-label>
      <input matInput type="text" [formControl]="searchKey">
      <button  matSuffix mat-icon-button aria-label="Clear" (click)="searchByName()" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="example-form-field">
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15]"
        [pageIndex]="pageIndex"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
  </div>
  </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Created date</th>
    <th scope="col">Address</th>
    <th scope="col">Reference</th>
    <th scope="col">Quantity</th>
    <th scope="col">Percent</th>
    <th scope="col">Quantity after percent</th>
    <th scope="col">Net a payer</th>
    <th scope="col">Advance payment</th>
    <th scope="col">Total payment</th>
    <th scope="col">Total tax</th>
    <th scope="col">Total payment after tax</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let facture of factures">
    <th scope="row">{{ facture.id }}</th>
    <td>
      <img
        [src]="'https://upload.wikimedia.org/wikipedia/commons/9/96/Flag_of_Armenia_%28Soviet_colors%29.svg'"
        class="me-2"
        style="width: 20px"
      />
      {{ facture.name }}
    </td>
    <td>{{ facture.created_date | date}}</td>
    <td>{{ facture.address }}</td>
    <td>{{ facture.reference }}</td>
    <td>{{ facture.destination }}</td>
    <td>{{ facture.quantity | number }}</td>
    <td>{{ facture.percent }}</td>
    <td>{{ facture.quantity_after_percent }}</td>
    <td>{{ facture.net_a_payer }}</td>
    <td>{{ facture.advance_payment }}</td>
    <td>{{ facture.total_payment }}</td>
    <td>{{ facture.total_tax }}</td>
    <td>{{ facture.total_payment_after_tax }}</td>
  </tr>
  </tbody>
</table>

</div>
